.about {
  height: 100vh;
  /* width: 100vw; */
  padding: 0;
  margin: 0;
}
.the-company {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: start;
  background: rgba(197, 255, 203, 1);
  height: 48%;
  padding-left: 20px;
  padding-right: 150px;
  font-family: "Poppins";
  font-size: 12px;
  padding-top: 30px;
  width: 100%;
  /* padding: 20px; */
}

.writing {
  width: 30%;
}
.tractor {
  width: 40%;
}
.tractor img {
  margin-top: 20px;
  width: 100%;
}

.writing-2 {
  width: 28%;
}

.writing h1 {
  text-transform: uppercase;
  margin-top: -5px;
}

.bonita {
  background: url(../asserts/Rectangle\ 8.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 11vh;
  margin-top: 229px;
  padding: 30px;
  padding-top: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bonita p {
  width: 90%;
}

@media (max-width: 768px) {
  .the-company {
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;
  }

  .tractor {
    width: 0;
    overflow: hidden;
  }

  .writing {
    font-size: 12px;
    width: 90%;
  }
  .writing-2 {
    width: 90%;

    margin-top: 20px;
    font-size: 12px;
  }

  .bonita {
    margin: 0;
    margin-top: 150px;

    font-size: 12px;
  }
}

@media (max-width: 426px) {
  .about {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .the-company {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 40px;
  }
  .writing {
    font-size: 12px;

    margin: 0;
    margin-left: 20px;
    width: 90%;
  }

  .writing-2 {
    position: absolute;
    top: 70%;
    left: 0%;
    width: 90%;
    margin-left: 20px;
    font-size: 12px;
  }

  .bonita {
    width: 100%;
    margin-left: -27px;
    font-size: 12px;
    padding-bottom: 54px;
  }

  .bonita p {
    margin-top: 30px;
  }
}
